body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 2rem;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .bio-pic {
    width: 200px;  /* Adjust width as needed */
    height: 200px;  /* Adjust height as needed */
    object-fit: cover;  /* Ensures image fills the container and avoids cropping */
    border-radius: 0;  /* Remove any border radius for clip-path to work */
    clip-path: circle(50% at 50% 50%);  /* Defines the clip-path as a circle */
  }
  
  #work-history {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
    
  .work-card {
    display: grid;
    grid-template-areas:
      "logo title title duration"
      "logo description description description";  /* Defines named grid areas */
    gap: .75em;
    align-items: center;  /* Aligns elements vertically within the card (logo row) */
    justify-content: space-between;
    background-color: #6c8787;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33% - 1rem);
  }
  
  .work-card h3,
  .work-card p {
    margin-bottom: 0.5rem;
  }
  
  .work-card h3 {
    grid-area: title;  /* Assigns element to the "title" area */
    font-size: 1.1rem;
  }

  .work-card p {
    grid-area: description;  /* Assigns element to the "description" area */
  }
  
  .work-card span {
    grid-area: duration;  /* Assigns element to the "logo" area */
    font-style: italic;
    color: azure;
  }

  .work-card img    {
    width: 125px;
    height: auto;
  }

  .workhist-logo    {
    grid-area: logo;  /* Assigns element to the "logo" area */
  }
  